# Scala/sbt specific
.bloop/
.metals/
.vscode/
target/
*.class

# Metals
project/metals.sbt

# Ignore Gradle files
.gradle
**/build/

# Visual Studio Code - Java extension files
.classpath
.project
.settings/
bin/

# IntelliJ files
.idea
out
