# Scala/sbt specific
.bloop/
.metals/
.vscode/
target/
*.class

# Metals
project/metals.sbt

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Visual Studio Code - Java extension files
.classpath
.project
.settings/
bin/
