# Scala/sbt specific
.bloop/
.bsp/
.metals/
.vscode/
target/
metals.sbt
*.class

# Ignore Gradle files
.gradle
**/build/

# Visual Studio Code - Java extension files
.classpath
.project
.settings/
bin/

# IntelliJ files
.idea
out
